.mailsidebar{
    width: 22%;
    padding: 0px 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.mailsidebar .compose__button {
    background: #43d685;
    color: #fff;
    padding: 6px 30px;
    cursor: pointer;
}
.categories {
    margin-top: 15px;
    margin-bottom: 15px;
}
.categories h5{
    margin-bottom: 10px;
    margin-left: 13px;
}
.categories ul{
    list-style-type: none;
}
.categories ul li {
    padding: 5px 15px;
}
