.sidebaroption {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  cursor: pointer;
}

.sidebaroption > h3 {
  flex: 1 1 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}
.sidebaroption > p {
  margin-left: 20px;
}
